# Ignorar arquivos de configuração local
# config/*.php

# Ignorar dependências do Composer
# /vendor/

# Ignorar hash do private
private/gerar_hash.php

# Ignorar tudo dentro da pasta uploads
storage/uploads/*

# Manter a pasta 
!storage/uploads/.gitkeep
